<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Eat dat Burger</title>
  <meta charset="UTF-8">
  <!-- Latest compiled and minified CSS & JS -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="/assets/css/style.css" type="text/css">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>


</head>

<body>

  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_xoYdpzovPmwA11B3Ry8PnaFSVe2BdnbbFXpjYzyqB0AB1XyNjg"
        class="img-fluid" alt="Responsive image">
      <h1 class="display-4"><strong>Place Your Order here</strong></h1>
      <br>
      <h4>Choose from the menu or create your own burger!</h4>

      <section>
        <form class="create-form">
          <div class="form-group">
            <label for="formGroupExampleInput2">Another label</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
            <button type="submit" class="btn btn-success" id="addBurger">
            </button>
          </div>
        </form>
      </section>
    </div>
  
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading" id="leftside"><strong>place your order</strong></div>
          <div class="panel-body">

            <ul>
              {{#each burgers}}
              {{#unless devoured}}
                <span><strong>{{this.id}}.{{this.burger_name}}</strong></span>
              {{/unless}}
              {{!-- <li>
                <p>
                  {{id}}.{{burger_name}} --}}
                  <button class="eatburger btn btn-warning" id="eatburger" data-id="{{this.id}}"data.newDevoured={{devour}}""
                  thisclass="delburger">Devour it</button>
                </p>
                {{!-- <p>Devoured: {{devoured}}</p> -- --}}
              </li>
              {{/each}}
            </ul>

          </div>
        </div>
      </div>
    </div>



    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel heading" id="rightside"><strong>pLace your order</strong></div>
        <div class="panel-body">
          <h4>add content here</h4>
        </div>
      </div>
    </div>
  </div>
  </div>


  
      <script src="/models/burger.js"></script>
  </div>
</body>

</html>