<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Eat dat Burger</title>
  <meta charset="UTF-8">
  <!-- Latest compiled and minified CSS & JS -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="/assets/css/style.css" type="text/css">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>


</head>

<body>

  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_xoYdpzovPmwA11B3Ry8PnaFSVe2BdnbbFXpjYzyqB0AB1XyNjg"
        class="img-fluid" alt="Responsive image">
      <br>
      <br>
      <h2 class="display-4"><strong>Eat dat Burger!</strong></h2>
      <br>
      <h4><strong>Choose from the menu or create your own burger!</strong></h4>


      <div class="row">
        <div class="col-sm-6">

          <br>
          <h5>Choose from the menu...</h5>

          <ul>
            {{#each burgers}}
            {{#unless devoured}}

            <span><strong>{{this.id}}-{{this.burger_name}}</strong></span>

            <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="true">
              <button class="devour it btn btn-warning" id={{this.id}} type="submit">Devour it!</button>
            </form>

            <br>
            {{/unless}}
            {{/each}}
          </ul>

        </div>



        <div class="col-sm-6">

          <br>
          <h5>Devoured Burgers...</h5>

          <ul>
            {{#each burgers}}
            {{#if devoured}}

              <span><strong>{{this.id}}-{{this.burger_name}}</strong></span> 
              {{!-- <form action="/{{this.id}}?_method=PUT" method="POST"> --}}
              {{!-- <input type="hidden" name="devoured" value="0"> --}}
              {{!-- <button data-devouredid="{{this.devoured}}" class="delet"> Devour it</button> --}}
            {{!-- </form> --}}

            <br>
            {{/if}}
            {{/each}}
          </ul>

        </div>
      </div>

      <div class=col-sm-12></div>
      <h5 Add A Burger!></h5>

      <form id="create-update" action="/" method="POST">
        <div class="form-group">
          <p>Choose a burger and click the Submit button to place your order</p>
          <input type="text" name="burger_name" id="ca">
          <input type="hidden" name="devoured" value="1">
        </div>
        <button class="btn-primary" type="submit">Submit</button>
      </form>

      <script type="text/javascript">
        S(".devour it").on("click", function (event) {
          var id = $(this).data("del");

          $.ajax("/burgers" + id , {
            type: "DELETE".then(function() {
              console.log("deleted id ", id);
            })
          })
})
      </script>


      <script src="./assets/js/burger.js"></script>
    </div>

  </div>
</body>

</html>